.home-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
 
}
.task-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 600px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.task-form form{
    width:90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-group label{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.priority-list{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 600px;
    border: 2px solid black;
    border-radius: 10px 0px 0px 10px;
    margin: 20px;
}